@model IEnumerable<BookaBook.Models.Emprunt>
@{
    ViewData["Title"] = "Mes Emprunts";
}
<h1>@ViewData["Title"]</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Livre</th>
            <th>Date d'emprunt</th>
            <th>Date retour prévue</th>
            <th>État</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emprunt in Model)
        {
            <tr>
                <td>@emprunt.Livre?.Titre</td>
                <td>@emprunt.DateAction.ToString("dd/MM/yyyy")</td>
                <td>@emprunt.DateRetourPrevue.ToString("dd/MM/yyyy")</td>
                <td>@emprunt.Etat</td>
                <td>
                    <form asp-action="Return" asp-controller="Emprunt" method="post">
                        <input type="hidden" name="empruntId" value="@emprunt.Id" />
                        @if (emprunt.Etat == "Validé")
                        {
                            <button type="submit" class="btn btn-success">Rendre</button>
                        }
                        else if (emprunt.Etat == "En attente")
                        {
                            <button type="submit" class="btn btn-warning">Annuler</button>
                        }
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

@if (Model.Count() == 0)
{
    <div class="alert alert-info">
        Vous n'avez pas d'emprunts en cours.
    </div>
}


<a asp-controller="Livre" asp-action="Index" class="btn btn-secondary">Revenir au catalogue</a>